{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "ignorePatterns": ["build", "node_modules"],
  "plugins": ["@typescript-eslint"],
  "extends": ["plugin:@typescript-eslint/eslint-recommended", "plugin:@typescript-eslint/recommended"],
  "overrides": [
    {
      "files": ["src/**/*.ts", "test/**/*.ts"],
      "rules": {
        "arrow-body-style": ["warn", "as-needed"],
        "array-bracket-spacing": ["error", "never"],
        "arrow-parens": ["error", "as-needed"],
        "comma-dangle": ["error", "always-multiline"],
        "func-style": ["error", "expression", { "allowArrowFunctions": true }],
        "max-len": ["error", 140],
        "max-lines": "error",
        "no-console": ["warn", { "allow": ["error", "info", "warn"] }],
        "no-var": "error",
        "object-curly-spacing": ["error", "always"],
        "object-shorthand": ["error", "always"],
        "prefer-arrow-callback": "error",
        "prefer-const": ["error", { "destructuring": "any", "ignoreReadBeforeAssign": false }],
        "quotes": ["error", "single", "avoid-escape"],
        "semi": ["error", "never"],
        "sort-keys": "off",
        "sort-vars": ["warn", { "ignoreCase": false }],
        "@typescript-eslint/explicit-function-return-type": "error",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-extra-semi": "error",
        "@typescript-eslint/no-namespace": "off",
        "@typescript-eslint/no-unused-vars": "error"
      }
    }
  ]
}
